@media only screen and (min-width: 40rem) {
    header {
        grid-template-columns: 50px auto 350px;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        grid-column: 3/4;
    }

    .hamburger {
        display: none;
    }

    .intro h1,
    .intro p,
    .intro a {
        max-width: 500px;
        justify-self: center;
    }

    #tools,
    #uses {
        flex-direction: row;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    #tools div
    {
        max-width: 265px;
    }

    #uses div {
        max-width: 373px;
    }

    #uses-modal {
    margin: auto;
    }

    .newsletter {
        padding: 30px 0;
    }

    .about-me {
        margin: 0 auto;
        background-color: var(--contrast-color-1);
    }

    .about-me-container {
        grid-template-columns: 1fr 3fr;
        align-items: start;
    }

    .self-intro {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: 30px;
    }

    .about-me img {
        grid-column: 1/2;
        border-radius: 10px;
        max-width: 400px;
        margin: 30px 10px;
    }

    .edu-exp {
        max-width: 1280px;
        margin: 0 auto;
    }

    .education {
        margin: 30px 0 0 0;
    }

    .experience {
        margin: 10px 0 30px 0;
    }

    .contact-form {
        padding: 30px 0;
    }

    footer.flex-container-column {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer div {
        width: 250px;
    }
}