@media only screen and (min-width: 52rem) {
     
    /********** DIRECTORY TABLE ***************/
    #membertable table {
        padding: 0px 10px 0 10px;
    }

    #membertable table tr {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2.5fr;
    }

    #membertable table td {
        grid-column: auto;
    }

    /************* FOOTER ****************/
    footer {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

@media only screen and (min-width: 64rem) {
    /*********** INFORMATION ************/
    .information {
    grid-template-columns: 2fr 1fr 1fr;
    }

    /******** BUSINESS *****************/
    .businesses {
    grid-template-columns: 1fr 1fr 1fr;
    }

    /********** JOIN CONTAINER ********/
    .join-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #poi {
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    #poi div {
        width: 470px;
        align-self: flex-start;
    }
}