:root {
    --main-color: #022B3A;
    --alternate-color: #15515D;
    --alternate-color-transparent: rgb(21, 81, 93, 0.3);
    --complementary-color: #BFDBF7;
    --complementary-color2: #E1E5F2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "noto sans", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
}

/************** HEADER *************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    padding: 10px;
    border-bottom: 1px #ddd;
    background-color: var(--main-color);
    color: #fff;
}

header span {
    align-self: end;
}

/*********** HAMBURGER MENU *************/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
    color: #fff;
}

.hamburger.open::before {
    content: "\00D7";
    font-size: 1.5rem;
    color: #fff;
}

/************* NAVIGATION ****************/
nav {
    display: none;
    flex-direction: column;
    gap: 1px;
    margin-top: 1px;    
}

nav a {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    background-color: var(--main-color);
    border-top: 1px solid #fff;
    text-decoration: none;
}

nav a:hover {
    border-right: 5px solid var(--alternate-color);
    font-weight: 800;
}

nav.open {
    display: flex;
    grid-column: 1/4;
}

nav .active {
    background-color: var(--alternate-color);
}

nav a.active:hover {
    border-right: 5px solid var(--complementary-color);
}

/*********** MAIN ***************/
main {
    max-width: 1200px;
    margin: 0 auto;
}

/************ MAIN INDEX ***************/

.information, .businesses, h1 {
    padding: 0 10px;
}

/************** HERO ******************/
.hero {
    position: relative;
}

.hero a {
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--alternate-color);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0px var(--main-color);
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.hero a:hover {
    background-color: var(--complementary-color);
    color: #000;
}

.hero img {
    width: 100%;
    height: auto;
}

/************* INFORMATION SECTION ************/
.information {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.information h2 {
    justify-self: center;
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
    padding: 10px;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.current-weather h2 {
    grid-column: 1/3;
    margin-bottom: 10px;
}

.information .card {
    background-color: var(--complementary-color2);
    padding-bottom: 20px;
    height: 100%;
}

/************* EVENTS ********************/
.events {
    color: #000;
}

.event {
    padding: 20px;
}

/************* CURRENT WEATHER *****************/
.current-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weather-icon {
    grid-column: 1 / 2;
    padding: 0;
    margin: 0;
    width: 100px;
    height: auto;
    justify-self: end;
}

.weather-numbers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
    grid-column: 2 / 3;
    font-size: 0.9rem;
    justify-self: start;
}

#tempnow {
    font-weight: 800;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

#weathernow {
    text-transform: capitalize;
}

/************ WEATHER FORECAST *************/
.forcast-weather {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.forcast-weather p {
    font-size: 1rem;
}

.forecast-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.forecast-numbers p .temp {
    font-weight: 800;
}

/************** BUSINESSES ********************/
.businesses {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 10px;
    gap: 20px;
}

.business {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) minmax(250px, 3fr);
    gap: 5px;
    border-radius: 8px;
    background-color: var(--complementary-color2);
    padding: 10px;
}

.business h2 {
    font-size: 1.3rem;
    grid-column: 1/3;
    text-align: center;
}

.business h3 {
    font-size: 0.8rem;
    grid-column: 1/3;
    border-bottom: 1px solid #333;
    text-align: center;
    padding-bottom: 5px;
}

.business img {
    width: 100%;
    height: auto;
    padding: 10px;
    grid-column: 1/2;
    justify-self: end;
}

.business .bis-info {
    grid-column: 2/3;
    padding: 10px;
}

.business .label {
    font-weight: 800;
}

/*************** MAIN DIRECTORY ******************/

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members a img {
    width: 50px;
    height: auto;
    padding: 10px;
    border: 3px solid var(--alternate-color);
    border-radius: 8px;
}

.members a.active img {
    background-color: var(--alternate-color-transparent);
}

/**************** DIRECTORY CARDS ****************/

#membercards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    font-size: 0.8rem;
}

#membercards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    gap: 10px;
    background-color: var(--complementary-color2);
}

#membercards img {
    width: 120px;
}

/********************* DIRECTORY LIST ******************/

#membertable {
    width: 100%;
    padding-bottom: 20px;
    font-size: 0.8rem;
}

#membertable table {
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

#membertable tr {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 10px;
}

#membertable th {
    justify-self: center;
}

#membertable td {
    grid-column: 1 / 2;
    justify-self: center;
}

#membertable tr:nth-child(odd) {
    background-color: var(--complementary-color2);
}

/*************JOIN H1 ****************/
h1 {
    margin-left: 20px;
}

/*************** JOIN FORM ***********/

.form-container h2 {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #eee;
    border: #999 solid 1px;
    padding: 20px;
}

legend {
    font-weight: 800;
    font-size: 1.25rem;
    background-color: var(--alternate-color);
    color: white;
    padding: 10px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

label.radio {
    flex-direction: row;
    gap: 8px;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
    accent-color: green;
}

div .radio {
    display: flex;
    flex-direction: row;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #999;
}

label .radio {
    display: flex;
    flex-direction: column;
}

input {
    border-bottom: 5px solid red;
}

input:valid {
    border-bottom: 5px solid green;
}

textarea {
    height: 150px;
    padding: 10px;
}

form button {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

form button:active {
    background-color: var(--alternate-color);
}

/************ MEMBER LEVELS *************/
.memberships {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.memberships-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.level-card {
    background-color: var(--complementary-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin: 0 10px;
    border: 1px solid #999;
    position: relative;
    animation:
        changecolor 1s ease-in 1s 1 forwards,
        moveup 1s ease-in 0s 1 forwards;
}

@keyframes changecolor {
    from {
        background-color: var(--complementary-color2);
    }
    to {
        background-color: var(--complementary-color);
    }
}

@keyframes moveup {
    0% {
        top: 0px;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 0px;
    }
}

.level-card button {
    padding: 10px;
    min-width: 150px;
}

/************** MODAL LEVEL *************/
#level-dialog {
    max-width: 325px;
    max-height: 600px;
    padding: 20px;
    border: 3px #999 solid;
    box-shadow: 0 0 10px;    
    margin: auto;
}

#level-dialog button {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: 800;
    width: 100%;
}

#level-dialog button:active {
    background-color: var(--alternate-color);
}

#level-dialog li {
    margin-left: 20px;
}

#level-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#level-dialog h3,
#level-dialog ul,
#level-dialog p {
    margin-bottom: 20px;
}

/********** THANK YOU PAGE **********/
#form-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 20px;
}

.thank h1 {
    text-align: center;
}

/*********** FOOTER ****************/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    color: #fff;
    padding: 20px 0;
}

footer section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    margin: 10px;
}

footer section.social {
    display: flex;
    flex-direction: row;
}

footer img {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

footer .bold {
    font-weight: 800;
}