#spinner {
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: #999 transparent #999 transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    box-shadow: 0 0 1rem rgb(255 0 0 / 40%);
    position: relative;
}

#spinner::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
    100% {transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {transform: translate(-50%, -50%) scale(1)
    }
    50% {transform: translate(-50%, -50%) scale(1.5);
    }
}

#spinner-t {
    margin: 2rem;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-color: #999 transparent #999 transparent;
    border-radius: 50%;
    transition: transform 1.5s linear;
    box-shadow: 0 0 1rem rgb(255 0 0 / 40%);
    position: relative;
}

#spinner-t::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1.5s ease-in-out;
    font-size: 2rem;
    line-height: 0;
}

#spinner-t:hover {
    transform: rotate(360deg);
}

#spinner-t:hover::after {
    transform: translate(-50%, -50%) scale(1.5);
}