@media only screen and (min-width: 1024px) {
    .intro,
    #tools,
    #uses,
    .about-me-container,
    .contact-form form,
    .contact-info
    {
        max-width: 1280px;
        margin: 0px auto;
    }
    
    .intro {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    .intro picture {
        grid-column: 2/3;
        grid-row: 1/6;
        position: relative;
        display: flex;
        align-items: stretch;
    }

    .intro picture::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }

    .intro h1,
    .intro p,
    .intro a {
        grid-column: 1/2;
        max-width: 350px;
    }

    .intro h1 {
        grid-row: 2/3;
    }

    .intro p {
        grid-row: 3/4;
    }

    .intro a {
        grid-row: 4/5;
        font-size: 1.25rem;
        padding: 20px;
    }

    .tools,
    .uses,
    footer {
        padding: 60px 0;
    }

    .about-me-container {
        align-items: center;
    }
}